*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: #eee;
    text-align: center;
    height: 27vh;
}

header ul li{
    display: inline-block;
    padding: 50px 5px 1px 5px;
}

header h1{
    font-size: 3em;
    padding: 10px 0;
}

header ul li a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease-in-out 0s;
}

header ul li a:hover{
    color: #34562a;
    border-bottom: 0.8px solid #34562a;
}

header ul li a.active{
    color: white !important;
}

a.active{
    padding: 5px 10px;
    background-color: #34562a;
    font-weight: bolder;
    border-radius: 50px;
}

#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    width: 70vw;
    margin: auto;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    padding: 30px 0 0 30px;
    margin-bottom: 25px;
}

.items{
    background-color: grey;
}

.icon{
    height: 30;
    width: 30px;
    background-color: red;
    position: relative;
    float: right;
    margin-right: 10px;
    padding: 3px 1px;
    bottom: 150;
    z-index: 100;
}

.icon span a{
    text-decoration: none;
    color: #fff;
}

footer{
    text-align: center;
    height: 10vh;
    padding-top: 10px;
    background-color: #000;
    color: #eee;
}
